In [82]:
import numpy as np
import pandas as pd
from collections import defaultdict

from surprise import Reader
from surprise import Dataset
from surprise import KNNBasic
from surprise.model_selection import cross_validate

import pprint

In [83]:
ratings_df = pd.read_csv("rating.csv")
ratings_df.shape

(7813737, 3)

In [84]:
ratings_df.head(5)

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [85]:
# ratings_df["rating"].unique()

total_ratings_count = ratings_df["rating"].value_counts()
print(total_ratings_count)

rating
 8     1646019
-1     1476496
 7     1375287
 9     1254096
 10     955715
 6      637775
 5      282806
 4      104291
 3       41453
 2       23150
 1       16649
Name: count, dtype: int64

In [86]:
anime_df = pd.read_csv("anime.csv")
anime_df.shape

(12294, 7)

In [87]:
anime_df.head(5)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [88]:
df = ratings_df.merge(anime_df.drop_duplicates(), left_on="anime_id", right_on= "anime_id", how="left")
df

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,1,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297.0
1,1,24,-1,School Rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553.0
2,1,79,-1,Shuffle!,"Comedy, Drama, Ecchi, Fantasy, Harem, Magic, R...",TV,24,7.31,158772.0
3,1,226,-1,Elfen Lied,"Action, Drama, Horror, Psychological, Romance,...",TV,13,7.85,623511.0
4,1,241,-1,Girls Bravo: First Season,"Comedy, Ecchi, Fantasy, Harem, Romance, School",TV,11,6.69,84395.0
...,...,...,...,...,...,...,...,...,...
7813732,73515,16512,7,Devil Survivor 2 The Animation,"Action, Demons, Supernatural",TV,13,7.06,101266.0
7813733,73515,17187,9,Ghost in the Shell: Arise - Border:1 Ghost Pain,"Mecha, Police, Psychological, Sci-Fi",Movie,1,7.64,31747.0
7813734,73515,22145,10,Kuroshitsuji: Book of Circus,"Comedy, Demons, Fantasy, Historical, Shounen, ...",TV,10,8.37,122895.0
7813735,73516,790,9,Ergo Proxy,"Mystery, Psychological, Sci-Fi",TV,23,8.03,265005.0
7813736,73516,8074,9,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892.0

In [89]:
df.shape

(7813737, 9)

In [90]:
df = df[df.rating_x!=-1]

In [91]:
total_ratings_count = df["rating_x"].value_counts()
print(total_ratings_count)

rating_x
8     1646019
7     1375287
9     1254096
10     955715
6      637775
5      282806
4      104291
3       41453
2       23150
1       16649
Name: count, dtype: int64

In [92]:
df["rating_x"].describe()

count    6.337241e+06
mean     7.808497e+00
std      1.572496e+00
min      1.000000e+00
25%      7.000000e+00
50%      8.000000e+00
75%      9.000000e+00
max      1.000000e+01
Name: rating_x, dtype: float64

In [93]:
df = df.sample(frac=0.0001, random_state=42) 
len(df)

634

In [94]:
df.columns

Index(['user_id', 'anime_id', 'rating_x', 'name', 'genre', 'type', 'episodes',
       'rating_y', 'members'],
      dtype='object')

In [95]:
df.shape

(634, 9)

In [96]:
mean_rating = df.groupby("anime_id") [["rating_x"]].mean()
mean_rating.sort_values(by="rating_x", ascending=False)

          rating_x
anime_id
1             10.0
8038          10.0
6895          10.0
6500          10.0
6114          10.0
...            ...
1117           4.0
1401           3.0
3772           3.0
7148           3.0
413            1.0

[510 rows x 1 columns]

In [97]:
df["rating_x"].describe()

count    634.000000
mean       7.843849
std        1.464450
min        1.000000
25%        7.000000
50%        8.000000
75%        9.000000
max       10.000000
Name: rating_x, dtype: float64

## Mallinnus

In [98]:
lukija = Reader(rating_scale=(1,10))
data = Dataset.load_from_df(df[["user_id", "name", "rating_x"]], lukija)
data

In [99]:
# Set all data as training set >> tämän voi käyttää, jos riittävästi dataa
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=0.25)
print(trainset)
print(testset)

<surprise.trainset.Trainset object at 0x000002AD2EBE9760>
[(49782, 'Akazukin Chacha', 8.0), (66849, 'Carnival Phantasm', 8.0), (52624, 'Strike Witches OVA', 6.0), (32319, 'Kill la Kill', 7.0), (52419, 'Kyou kara Maou!', 7.0), (40389, 'Kono Minikuku mo Utsukushii Sekai', 7.0), (55290, 'Majin Tantei Nougami Neuro', 7.0), (66864, 'Death Note', 10.0), (65469, 'Shingeki no Kyojin Movie 1: Guren no Yumiya', 6.0), (72932, 'Kuroko no Basket: Mou Ikkai Yarimasen ka', 8.0), (35729, 'Hitsugi no Chaika', 8.0), (67617, 'Naruto Movie 2: Dai Gekitotsu! Maboroshi no Chiteiiseki Dattebayo!', 7.0), (55319, 'Love Hina Again', 6.0), (59837, 'Pandora Hearts', 7.0), (6014, 'Terra e... (TV)', 10.0), (40986, 'Soul Eater', 8.0), (73120, 'InuYasha', 8.0), (65840, 'Harmony', 9.0), (28192, 'Bokurano', 7.0), (36628, 'Rosario to Vampire Capu2', 9.0), (58703, 'Code Geass: Hangyaku no Lelouch R2', 9.0), (36132, 'Tokyo Ghoul: &quot;Jack&quot;', 9.0), (66298, 'High School DxD New', 8.0), (38997, 'Meganebu!', 5.0), (49167, 'Dog Days', 8.0), (44077, 'Hunter x Hunter', 9.0), (56157, 'Bakuman.', 10.0), (1117, 'Darker than Black: Kuro no Keiyakusha', 9.0), (6678, 'Samurai Champloo', 10.0), (19598, 'Akame ga Kill!', 8.0), (10440, 'Dragon Ball GT', 6.0), (48848, 'Shiki', 7.0), (56017, 'New Prince of Tennis', 8.0), (20741, 'Special A', 9.0), (28180, 'Amagi Brilliant Park', 9.0), (24039, 'Higurashi no Naku Koro ni Kai', 10.0), (18946, 'Air', 8.0), (47657, 'Kaze no Stigma', 7.0), (32884, 'Serial Experiments Lain', 8.0), (40044, '11eyes', 4.0), (31255, 'Pokemon', 7.0), (31073, 'Sora no Otoshimono', 7.0), (11044, 'Soul Eater', 7.0), (28903, 'Majin Tantei Nougami Neuro', 7.0), (20733, 'Jinsei', 9.0), (50205, 'Major S2', 8.0), (50974, 'Howl no Ugoku Shiro', 8.0), (46250, 'Aoi Sekai no Chuushin de', 9.0), (45733, 'Hana yori Dango', 10.0), (62461, 'Akagami no Shirayuki-hime', 7.0), (47537, 'High School DxD BorN', 10.0), (55388, 'Blood Lad: Wagahai wa Neko de wa Nai', 4.0), (35054, 'Seitokai Yakuindomo', 9.0), (64604, 'Ghost in the Shell: Stand Alone Complex 2nd GIG', 10.0), (26982, 'Gate: Jieitai Kanochi nite, Kaku Tatakaeri', 9.0), (11090, 'Cat Shit One', 9.0), (10659, 'Brothers Conflict', 6.0), (30496, 'Suisei no Gargantia', 8.0), (1737, 'Gunslinger Stratos: The Animation', 6.0), (21070, 'Ping Pong The Animation', 10.0), (39141, 'Vampire Knight Guilty', 6.0), (58606, 'First Kiss Monogatari', 5.0), (5057, 'Battle Programmer Shirase', 8.0), (14947, 'Sword Art Online', 9.0), (56266, 'Steins;Gate', 8.0), (4280, 'Ushinawareta Mirai wo Motomete', 9.0), (49048, 'Code Geass: Hangyaku no Lelouch', 8.0), (65237, 'Full Metal Panic! The Second Raid: Wari to Hima na Sentaichou no Ichinichi', 7.0), (62800, 'Hunter x Hunter (2011)', 10.0), (61752, 'Yowamushi Pedal', 9.0), (35746, 'Tengen Toppa Gurren Lagann', 8.0), (35833, 'Ansatsu Kyoushitsu', 5.0), (48876, 'Donten ni Warau', 7.0), (38123, 'Outbreak Company', 9.0), (10148, 'Sword Art Online', 7.0), (32395, 'Nisekoi:', 9.0), (1103, 'Sakurako-san no Ashimoto ni wa Shitai ga Umatteiru', 8.0), (31301, 'Scrapped Princess', 7.0), (4086, 'Black★Rock Shooter', 7.0), (1384, 'Cheonnyeon-yeowoo Yeowoobi', 9.0), (1036, 'Fate/stay night: Unlimited Blade Works 2nd Season', 8.0), (23753, 'Death Note', 7.0), (23069, 'Girls und Panzer: Shoukai Shimasu!', 7.0), (56252, 'Ao no Exorcist Movie', 9.0), (40402, 'Darker than Black: Kuro no Keiyakusha', 10.0), (5120, 'Moshidora', 9.0), (17149, 'Hyouka', 7.0), (46109, 'Persona 4 the Animation: The Factor of Hope', 7.0), (7728, 'Pokemon: Pikachu no Obake Carnival', 8.0), (64677, 'Yamada-kun to 7-nin no Majo (OVA)', 8.0), (26174, 'Break Blade 4: Sanka no Chi', 8.0), (30141, 'Sakura Trick', 6.0), (55616, 'Tetsuwan Birdy Decode', 8.0), (2562, 'Code Geass: Hangyaku no Lelouch R2', 10.0), (52741, 'Fate/Zero', 10.0), (16885, 'Evangelion: 2.0 You Can (Not) Advance', 8.0), (61163, 'Ajin', 7.0), (71974, 'Black Lagoon: The Second Barrage', 8.0), (62766, 'Durarara!!x2 Shou', 7.0), (64475, 'Btooom!', 7.0), (4862, 'Full Metal Panic!', 5.0), (15675, 'Shakugan no Shana', 9.0), (5174, 'Eureka Seven: Navigation ray=out', 10.0), (36111, 'Hanasaku Iroha', 9.0), (63491, 'Kuroko no Basket 3rd Season', 8.0), (58138, 'Code Geass: Hangyaku no Lelouch Recaps', 6.0), (47152, 'Kore wa Zombie Desu ka?', 8.0), (20766, 'Tamako Market', 7.0), (72932, 'Clannad: Mou Hitotsu no Sekai, Tomoyo-hen', 8.0), (21320, 'Chrno Crusade', 6.0), (52609, 'K-On!', 9.0), (22373, 'Shingeki! Kyojin Chuugakkou', 7.0), (26796, 'Oni Chichi', 10.0), (54558, 'Natsume Yuujinchou', 7.0), (73234, 'Darker than Black: Kuro no Keiyakusha', 8.0), (60222, 'Bible Black: New Testament', 3.0), (57667, 'Full Metal Panic! The Second Raid', 9.0), (63465, 'Dragon Ball Z Movie 08: Moetsukiro!! Nessen, Ressen, Chougekisen', 8.0), (28566, 'DearS', 5.0), (28069, 'Clannad', 9.0), (7794, 'Bleach Movie 1: Memories of Nobody', 6.0), (994, 'Yamato Nadeshiko Shichihenge♥', 10.0), (50396, 'Tears to Tiara', 10.0), (25563, 'Miracle☆Train: Oedo-sen e Youkoso', 9.0), (6747, 'Steins;Gate', 10.0), (8565, 'Dance in the Vampire Bund', 7.0), (47156, 'AKB0048', 8.0), (55161, 'Juubee Ninpuuchou', 10.0), (52975, 'Chobits', 8.0), (52246, 'Eikoku Koi Monogatari Emma', 7.0), (7889, 'Saber Marionette J Again', 7.0), (28797, 'Rosario to Vampire', 9.0), (7860, 'Higurashi no Naku Koro ni Kai', 8.0), (41635, 'Naruto: Shippuuden Movie 2 - Kizuna', 6.0), (34100, 'Shokugeki no Souma', 8.0), (20501, 'D.C.S.S: Da Capo Second Season', 7.0), (40474, 'Tamayura: Hitotose', 6.0), (57817, 'Kanon (2006)', 5.0), (57445, 'Higashi no Eden', 7.0), (33103, 'Ore no Imouto ga Konnani Kawaii Wake ga Nai. Specials', 7.0), (54572, 'Dragon Ball', 8.0), (69405, 'Naruto', 8.0), (23563, 'Baka to Test to Shoukanjuu', 10.0), (51421, 'Hametsu no Mars', 1.0), (9039, 'One Punch Man', 8.0), (22683, 'Tiger &amp; Bunny', 9.0), (17591, 'Chuunibyou demo Koi ga Shitai! Lite', 7.0), (32982, 'Akuma no Riddle', 6.0), (65903, 'Persona 3 the Movie 3: Falling Down', 5.0), (5675, 'Nichijou: Nichijou no 0-wa', 9.0), (40412, 'Shugo Chara! Party!', 7.0), (4691, 'Digimon Frontier', 8.0), (40419, 'Ashita no Nadja', 10.0), (7213, 'Nodame Cantabile Finale Special', 10.0), (2486, 'Dragon Ball', 8.0), (34057, 'Kuroko no Basket 3rd Season', 5.0), (8448, 'Chrome Shelled Regios', 7.0), (57327, 'Angel Heart', 9.0), (10645, 'Imouto de Ikou!', 5.0)]

In [100]:
# Build and train an algorithm.
# Tarjotaan trainset algoritmille

sim_options = {"user_based": True} # False compute similarities between items, True between customers

algo = KNNBasic(sim_options=sim_options)
algo.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [101]:
preds = algo.test(testset)
preds[0:20]

[Prediction(uid=49782, iid='Akazukin Chacha', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=66849, iid='Carnival Phantasm', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=52624, iid='Strike Witches OVA', r_ui=6.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=32319, iid='Kill la Kill', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=52419, iid='Kyou kara Maou!', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=40389, iid='Kono Minikuku mo Utsukushii Sekai', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=55290, iid='Majin Tantei Nougami Neuro', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=66864, iid='Death Note', r_ui=10.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=65469, iid='Shingeki no Kyojin Movie 1: Guren no Yumiya', r_ui=6.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=72932, iid='Kuroko no Basket: Mou Ikkai Yarimasen ka', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=35729, iid='Hitsugi no Chaika', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=67617, iid='Naruto Movie 2: Dai Gekitotsu! Maboroshi no Chiteiiseki Dattebayo!', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=55319, iid='Love Hina Again', r_ui=6.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=59837, iid='Pandora Hearts', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=6014, iid='Terra e... (TV)', r_ui=10.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=40986, iid='Soul Eater', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=73120, iid='InuYasha', r_ui=8.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=65840, iid='Harmony', r_ui=9.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=28192, iid='Bokurano', r_ui=7.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'}),
 Prediction(uid=36628, iid='Rosario to Vampire Capu2', r_ui=9.0, est=7.8715789473684215, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})]

In [102]:
user_id_to_search = 70740  # Replace with the specific user_id
user_data = df[df['user_id'] == user_id_to_search]

print(user_data)

Empty DataFrame
Columns: [user_id, anime_id, rating_x, name, genre, type, episodes, rating_y, members]
Index: []